body {
  text-align: center;
}

h1 {
  color: rgb(2, 132, 130);
}

h2 {
  color: #ffd700;
}

nav {
  background: #808080;
}

a {
  background: #ffbf00;
  color: #fff;
  padding: 35px;
  display: block;
  float: left;
}

img {
  height: 200px;
  width: 150px;
}

a:hover {
  background: #ee5f3c;
}

footer {
  background: #808080;
}

#heart {
  color: #f00;
}

#name {
  color: #f00;
}

.board {
  height: 50%;
  width: 50%;
  display: inline-block;
}

.card {
  background-color: yellow;
  border: 1px solid black;
  border-radius: 10px;
  float: left;
  height: 200px;
  margin: 8%;
  width: 150px;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
}